<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if notice %>
      <p class="notice bg-blue-50 text-blue-600 p-4 rounded-lg mb-4 text-center text-sm"><%= notice %></p>
    <% end %>

    <% if alert %>
      <p class="alert bg-red-50 text-red-600 p-4 rounded-lg mb-4 text-center text-sm shadow-sm"><%= alert %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
